.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  place-items: center;
  background-color: #f8f8f8;
}

.login_container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login_container > img {
  object-fit: contain;
  border-radius: 10%;
  height: 100px;
  margin-bottom: 40px;
}

.login_container > button {
  margin-top: 50px;
  background-color: white;
  color: black;
}

.login_container > button:hover {
  background-color: blue;
}
